@import '../../variables';

.Program {
    @include PageStyle;

    h2 {
        @include TitleStyle;
        margin-bottom: 1.5rem;
    }

    img {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}