@import '../../../variables';

.PersonCard {
    max-width: 24rem;
    padding: 1rem;
    box-shadow: 0px 0px 6px 0px rgba($main-color-dark, 0.75);

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        figcaption {
            text-align: center;
            font-size: $default-font-size;;
            margin-top: 1.5rem;

            p:nth-child(1) {
                font-weight: 500;
            }

            p:nth-child(2){
                margin-top: 1rem;
            }
        }
    }

    img {
        object-fit: cover;
        width: 50%;
        border-radius: 50%;
        border: 1px solid $main-color-dark;
    }
}