@import '../../variables';

.Invitation {
    border: 2px solid $main-color-dark;
    background-color: rgba($color-white, 1);
    border-radius: 8px;
    font-size: $default-font-size;
    @include PageStyle;
    padding-bottom: 1rem;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-largest) {
        margin-bottom: 2rem;
    }

    & > figure {
        margin-bottom: 8rem;
    }

    & > p:not(:last-child) {
        margin-bottom: 3rem;
    }

    &__Signature {
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__Agent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__Footer {
        margin-top: 3rem;
        border-top: 1px solid rgba($main-color-dark, 0.8);
        padding: 1rem 0;
        text-align: center;
    }
}