@import '../../variables';

.Toolbar {
    font-size: 1.4rem;
    height: 8.5rem;
    border-bottom: 1px solid $color-grey-light-3;
    display: flex;
    align-items: center;
    padding: 0 1rem;

    img {
        height: 100%;

        @media only screen and (max-width: $bp-xsmall) {
            height: 90%;
        }
    }

    &__Title {
        margin-left: 2rem;
        font-size: $title-font-size;
        font-weight: 300;
        letter-spacing: 3px;

        @media only screen and (max-width: $bp-small) {
            font-size: $title-small-font-size;
            letter-spacing: 1px;
        }
    }

    &__Lang {
        margin-left: auto;
    }
}

.LangButton {
    all: unset;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: $default-font-size;
    font-weight: 500;
}