@import '../../variables';

.Contact {
    @include PageStyle;
    font-size: $small-font-size;

    h2 {
        @include TitleStyle;
        margin-bottom: 1.5rem;
    }
}

.Table {
    @include TableStyle;

    th {
        border-color: $color-black;
        border-style: solid;
        border-width: 1px;
        font-size: $small-font-size;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }

    tbody th {
        font-weight: 400;
    }
}

.FlexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Icon {
    width: 2rem;
    height: 2rem;
    margin-right: 5px;
}