@import '../../variables';

.Accomodation {
    @include PageStyle;

    h2 {
        @include TitleStyle;
        margin: 2rem 0;
    }
}

.InfoWindow {
    h3 {
        margin-bottom: 1rem;
    }

    p:not(:last-child) {
        margin-bottom: 5px;
    }
}