@import '../../variables';

.Committees {
    @include PageStyle;
    padding: 1rem 1rem 4rem 1rem;

    h2 {
        @include TitleStyle;
    }

    &__Organization {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4rem;
        justify-items: center;
        padding: 2rem;
        margin-bottom: 5rem;

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 2rem;
        }
    }

    &__Science {
        border: 2px solid $main-color-dark;
        background-color: rgba($color-white, 1);
        border-radius: 8px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 7rem;
        margin-top: 4rem;
        list-style: none;
        font-size: $small-font-size;
        padding: 2rem;

        li:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        li {
            b {
                font-size: $default-font-size;
            }
        }
    }

    &__Supporters {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25rem 25rem;
        justify-items: center;
        align-items: center;
        grid-gap: 3rem;
        margin-bottom: 5rem;

        @media only screen and (max-width: $bp-xsmall) {
            grid-template-columns: 1fr;
        }
    }
}