@import '../../variables';

.Clock {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40rem;
    padding: 1rem;
    border: 1px solid $color-black;
    border-radius: 8px;
    margin: 5rem auto 0 auto;
    background-color: $color-white;
    z-index: 111;
    box-shadow: 0px 0px 6px 0px rgba($color-black, 0.75);
}