@import '../../variables';

.ImageShowcase {
    display: flex;
    position: relative;

    &__Overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 100;
        background-image: linear-gradient(to right bottom, rgba($color-grey-dark-3, 0.12) 0%, rgba($color-grey-dark-4, 0.40) 100%);
        background-size: cover;
        background-position: top;
        z-index: 10;
    }

    &__OverlayText {
        min-width: 60rem;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        background-color: rgba($color-black, 0.65);
        color: $color-white;
        font-size: $title-x-small-font-size;
        z-index: 100;
        padding: 1rem 1.2rem;
        text-align: center;

        @media only screen and (max-width: $bp-small) {
            min-width: 50rem;
        }

        @media only screen and (max-width: $bp-xsmall) {
            font-size: $small-font-size;
            min-width: 44rem;
        }

        h2 {
            font-size: $title-small-font-size-2;
            margin-bottom: 1rem;

            @media only screen and (max-width: $bp-xsmall) {
                font-size: $title-small-font-size;
            }
        }
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}